#root {
  margin: 0 auto;
  text-align: center;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color: black;
}


body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.App {
  margin: 0;
}

a {
  text-decoration: none;
}

.Section {
  height: 50vh;
  width: 100vw;
  max-height: 800px;
  max-width: 1280px;
  min-height: 600px;
  min-width: 1000px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto 0;
  padding: 50px;
}

.border {
  height: 369px;
  width: 290px;
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
  position: relative;
}

.border:hover {
  border: 1px solid white;
}

.Card {
  height: 378px;
  width: 310px;
  background: grey;
  border-radius: 10px;
  transition: background 0.8s;
  overflow: hidden;
  background: black;
  box-shadow: 0 70px 63px -60px #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 50px;

  display: grid;
}

.Card:hover {
  transform: scale(1.2)
}

.card0 {
  background: url('https://images.unsplash.com/photo-1506526794364-ba711a0d97fc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80') center center no-repeat;
  background-size: 310px;
}

.card0 h2 {
  opacity: 1;
}

.card1 {
  background: url('https://images.unsplash.com/photo-1597239451147-f163967b8581?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80') center center no-repeat;
  background-size: 310px;
}

.card1 h2 {
  opacity: 1;
}

.card2 {
  background: url('https://images.unsplash.com/photo-1592170091352-4512e84ad10c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3024&q=80') center center no-repeat;
  background-size: 310px;
}

.card2 h2 {
  opacity: 1;
}

.card3 {
  background: url('https://images.unsplash.com/photo-1599837565318-67429bde7162?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3687&q=80') center center no-repeat;
  background-size: 310px;
}

.card3 h2 {
  opacity: 1;
}

.card4 {
  background: url('https://images.unsplash.com/photo-1553678324-f84674bd7b24?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3456&q=80') center center no-repeat;
  background-size: 310px;
}

.card4 h2 {
  opacity: 1;
}

.card5 {
  background: url('https://images.unsplash.com/photo-1531837763904-5d3cb2632ea3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3675&q=80') center center no-repeat;
  background-size: 310px;
}

.card5 h2 {
  opacity: 1;
}

.card6 {
  background: url('https://images.unsplash.com/photo-1491921125492-f0b9c835b699?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2976&q=80') center center no-repeat;
  background-size: 310px;
}

.card6 h2 {
  opacity: 1;
}

.card7 {
  background: url('https://images.unsplash.com/photo-1541748671-57ec8cd02f9a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3687&q=80') center center no-repeat;
  background-size: 310px;
}

.card7 h2 {
  opacity: 1;
}

.card8 {
  background: url('https://images.unsplash.com/photo-1569144157591-f9a369ed0e6d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3246&q=80') center center no-repeat;
  background-size: 310px;
}

.card8 h2 {
  opacity: 1;
}

.card9 {
  background: url('https://images.unsplash.com/photo-1520509414578-d9cbf09933a1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1304&q=80') center center no-repeat;
  background-size: 310px;
}

.card9 h2 {
  opacity: 1;
}

.card10 {
  background: url('https://images.unsplash.com/photo-1611485916153-fce531587fe0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3456&q=80') center center no-repeat;
  background-size: 310px;
}

.card10 h2 {
  opacity: 1;
}

.card11 {
  background: url('https://images.unsplash.com/photo-1523206489230-c012c64b2b48?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3687&q=80') center center no-repeat;
  background-size: 310px;
}

.card11 h2 {
  opacity: 1;
}

h2 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: rgb(255, 68, 0);
  margin: 20px;
  opacity: 0;
  transition: opacity 1s;
}

h1, h3 {
  color: white;
}